@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior: none;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

html, body {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
